.detailsmain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    box-shadow: 3px 3px 5px ;
    width: 60%;
    margin: 2rem auto;
}

.maintop1 {
    display: flex;
}

.lefttandright {
    border-bottom: 4px solid #046582;
    width: 10rem;
    margin: 1.5rem;
    border-radius: 3px;
}

.purpleone {
    margin-top: 2rem;
    background-color: #EFEEFE;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.emaill {
    text-align: start;
    margin: 2rem;
    font-weight: 800;
}

.deleteandupdate {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    
}

.du {
    border-radius: 10px;
    font-size: 1.5rem;
    border: none;
    box-shadow: 3px 3px 5px grey;
    padding: 10px;
}

.du:hover {
    box-shadow: 1px 1px 5px grey;
}

.person {
   
    align-items: center;
    display: flex;
    
}